<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Employee Productivity Prediction - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <h1>Employee Productivity Prediction Using ML.</h1>
    <nav>
      <a href="/" class="active">Home</a>
      <a href="/about">About</a>
      <a href="/predict">Predict</a>
    </nav>
  </header>
  <section class="home-bg">
    
    <h2>PERFORMANCE EVALUATION</h2>
    <p>
      Any business success depends on its employees. Businesses that realize this are concerned about employee output and productivity. Productivity has a compound effect at the office as it influences the organization.
      To have high productivity or a lower level of productivity relies upon the organizational culture of the employees.
      In any organization is the need of the hour.
    </p>
  </section>
</body>
</html>